.containerForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #2E2F42;
    box-shadow: 0 4px 10px #00000040;
    background-color: #F6F6F6;
    width: 450px;
    padding: 20px;
    
}

.formLabel {
    color: #2E2F42;
    font-size: 13px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.thumb {
    position: relative;
}

.formInput {
    width: 380px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    transition: border-color .4s cubic-bezier(.4, 0, .2, 1), box-shadow .6s cubic-bezier(.4, 0, .2, 1);
    margin-bottom: 10px;
    padding: 5px 35px;
}

.errorName {
    border-color: red;
}

.errorNumber {
    border-color: red;
}

.formInput:focus {
    border-color: #646864;
    box-shadow: 0 4px 4px #00000026;
}

.buttonAdd {
    width: 150px;
    border-radius: 10px;
    background-color: gray;
    border: none;
    box-shadow: 0 4px 4px #00000026;
    font-size: 15px;
    line-height: 1;
    transition: background-color .5s cubic-bezier(.4, 0, .2, 1), color .5s cubic-bezier(.4, 0, .2, 1);
    padding: 10px 15px;
    margin: auto;
}

.buttonAdd:hover {
    background-color: #484848;
    color: #bea69e;
}

.errorSpan {
    color: red;
    margin-top: -8px;
    margin-bottom: 10px;
}